<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin&display=swap"
      rel="stylesheet"
    />
    <title>Giriş qadağandır!</title>

    <style>
      body {
        font-family: "Cabin", sans-serif;
      }

      .denied-header {
        color: #c93b33;
      }

      .denied-body {
        font-size: 1.1em;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div
        class="d-flex row align-items-center text-center"
        style="height: 100vh;"
      >
        <div class="col-md-12 col-sm-12 col-12">
          <div class="denied-page mt-5">
            <h1 class="denied-header">GİRİŞ QADAĞANDIR</h1>
            <div class="denied-body">
              Hörmətli istifadəçi, sizin bu səhifəyə giriş üçün icazəniz yoxdur!
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
