<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin&display=swap"
      rel="stylesheet"
    />
    <title>Ətraflı</title>

    <style>
      body {
        font-family: "Cabin", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="d-flex row mt-5 justify-content-center text-center">
        <!-- ---- -->
        <section class="col-md-9 col-sm-9 col-9">
          <h1>Ətraflı</h1>
          <hr />
          <div class="card border-0">
            <img
              class="card-img-top img-responsive rounded-circle text-center mt-2 mx-auto"
              src="../shared/person.jpg"
              alt="Card image"
              style="width: 40%;"
            />
            <div class="card-body">
              <h5 class="card-title">Ad Soyad</h5>
              <div class="card-text">
                <p>Santexnik</p>
                <p>Telefon nömrəsi</p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Exercitationem blanditiis culpa magni eos velit nisi aut
                  doloribus atque minima voluptas obcaecati eius quasi esse
                  molestiae incidunt, aspernatur nobis deleniti illo?Repellendus
                  fugiat veniam alias cum laborum officiis animi facilis,
                  impedit saepe vitae error nisi repudiandae ipsum tempora
                  asperiores nesciunt eos blanditiis iste nemo ullam sint quas
                  consectetur commodi? Voluptas, aut!
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
