<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin&display=swap"
      rel="stylesheet"
    />
    <title>Şifrənizi daxil edin!</title>

    <style>
      body {
        font-family: "Cabin", sans-serif;
        min-height: 100vh;
      }

      .success-header {
        color: #82ce34;
      }

      .success-body {
        font-size: 1.1em;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div
        class="d-flex row align-items-center justify-content-center text-center"
        style="height: 100vh;"
      >
        <form th:action="@{'/restore/password/new/password/'+${activationCode}}" method="post">
        <div class="col-md-6 col-sm-6 col-9">
          <h3>Zəhmət olmasa yeni şifrənizi daxil edin</h3>
          <div class="form-group">
            <label for="psw">Şifrə</label>
            <input
              type="password"
              name="password"
              id="psw"
              class="form-control"
              required
            />
          </div>

          <div class="form-group">
            <label for="psw-repeat">Təkrar şifrə</label>
            <input
              type="password"
              name="passwordConfirm"
              id="psw-repeat"
              class="form-control"
              required
            />
          </div>

          <button type="submit" class="btn btn-success">
            Davam edin
          </button>
        </div>
        </form>
      </div>
    </div>
  </body>
</html>
