<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin&display=swap"
      rel="stylesheet"
    />
    <title>Qeydiyyat</title>

    <style>
      label {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid p-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-9 col-sm-9 col-11">
          <div class="header text-center">
            <h1>Qeydiyyat</h1>
            <p>Yeni hesab yaratmaq üçün zəhmət olmasa formu doldurun.</p>
          </div>
          <hr />
          <form
            action="/registration"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label for="username">Istifadəçi adı</label>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="email">Elektron poçt</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="name">Ad</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="surname">Soyad</label>
              <input
                type="text"
                name="surname"
                id="surname"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="psw">Şifrə</label>
              <input
                type="password"
                name="password"
                id="psw"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="psw-repeat">Təkrar şifrə</label>
              <input
                type="password"
                name="passwordConfirm"
                id="psw-repeat"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="speciality">Sahənizi seçin</label>
              <select name="category" id="speciality" class="custom-select">
                <!-- <option value="nothing">Nothing</option> -->
                <option value="multiple">Multiple</option>
                <option value="santexnik">Santexnik</option>
                <option value="temir">Təmir</option>
              </select>
            </div>

            <div class="form-group">
              <label for="description"
                >Özünüz haqqında qısa məlumat verin</label
              >
              <textarea
                name="description"
                id="description"
                class="form-control"
                rows="4"
              ></textarea>
            </div>

            <div class="form-group">
              <label for="avatarFile"
                >Avatar seçin (2MB-dan çox olmamalıdır)</label
              >
              <input
                type="file"
                name="avatarFile"
                id="avatarFile"
                class="form-control"
              />
            </div>

            <div class="form-group">
              <label>Telefon nömrəsi</label>
              <input type="text" name="phoneNumber" class="form-control" />
            </div>
            <div class="form-group">
              <label>Şəhər</label>
              <input type="text" name="city" class="form-control" />
            </div>

            <div class="form-check">
              <input
                type="checkbox"
                name="agree"
                id="agree"
                class="form-check-input"
              />
              <label for="agree" class="form-check-label">
                Hesab yaratmaqla <a href="#">Şərtlər və Məxfilik</a> qaydaları
                ilə razılaşıram.</label
              >
            </div>

            <button type="submit" class="btn btn-primary float-right" disabled>
              Qeydiyyat
            </button>
            <br />
          </form>
        </div>
      </div>
    </div>

    <script>
      let submitBtn = document.querySelector("button[type=submit]");
      // it will disabled if form is not valid
    </script>
  </body>
</html>
