<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin&display=swap"
      rel="stylesheet"
    />
    <title>Təbrik edirik!</title>

    <style>
      body {
        font-family: "Cabin", sans-serif;
      }

      .success-header {
        color: #82ce34;
      }

      .success-body {
        font-size: 1.1em;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div
        class="d-flex row align-items-center text-center"
        style="height: 100vh;"
      >
        <div class="col-md-12 col-sm-12 col-12">
          <div class="success-page mt-5">
            <h1 class="success-header">BİLDİRİŞ</h1>
            <div class="success-body">
              Təbrik edirik! <span th:text="${message}"></span> <br />
              Zəhmət olmasa hesabınıza <a href="/login">daxil olun</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
